doctype html
html
 head
  title 
  h1 #(mydata)
 body
  block content
   p 
    each data, i in form
        a(href="http://localhost:3000/registration")
        br
        a(href="http://localhost:3000/login")