html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
        table 
            tr
                td
                    label(for = "username") Name :
                td
                    input(name = "username" value = "" required ="true" type ="text")
            tr            
                td
                    label(for="email") Email :
                td 
                    input(type="email" value="" required ="true")
            tr 
                td 
                    button(type = "submit") Submit 